<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add University - College Finder</title>
</head>
<body>
</head>
<body>
    <h1>Create New University Record</h1>
    <form action="/create" method="post"> 
        <label for="UniversityName">University Name:</label>
        <input type="text" id="UniversityName" name="UniversityName" required><br>

        <label for="AcceptanceRate">Acceptance Rate:</label>
        <input type="number" id="AcceptanceRate" name="AcceptanceRate" step="0.01" required><br>

        <label for="AverageSAT">Average SAT:</label>
        <input type="number" id="AverageSAT" name="AverageSAT" required><br>

        <label for="QSWorldRankings">QS World Rankings:</label>
        <input type="number" id="QSWorldRankings" name="QSWorldRankings" required><br>

        <label for="USNewsRanking2023">US News Ranking 2023:</label>
        <input type="number" id="USNewsRanking2023" name="USNewsRanking2023" required><br>

        <label for="QSWorldRanking2022">QS World Ranking 2022:</label>
        <input type="number" id="QSWorldRanking2022" name="QSWorldRanking2022" required><br>

        <label for="UndergraduatePopulation">Undergraduate Population:</label>
        <input type="number" id="UndergraduatePopulation" name="UndergraduatePopulation" required><br>

        <label for="AcademicGrade">Academic Grade:</label>
        <input type="number" id="AcademicGrade" name="AcademicGrade" required><br>

        <label for="AthleticGrade">Athletic Grade:</label>
        <input type="number" id="AthleticGrade" name="AthleticGrade" required><br>

        <label for="CampusGrade">Campus Grade:</label>
        <input type="number" id="CampusGrade" name="CampusGrade" required><br>

        <label for="CampusFoodGrade">Campus Food Grade:</label>
        <input type="number" id="CampusFoodGrade" name="CampusFoodGrade" required><br>

        <label for="DiversityGrade">Diversity Grade:</label>
        <input type="number" id="DiversityGrade" name="DiversityGrade" required><br>

        <label for="DormsGrade">Dorms Grade:</label>
        <input type="number" id="DormsGrade" name="DormsGrade" required><br>

        <label for="LocationGrade">Location Grade:</label>
        <input type="number" id="LocationGrade" name="LocationGrade" required><br>

        <label for="OverallGrade">Overall Grade:</label>
        <input type="number" id="OverallGrade" name="OverallGrade" required><br>

        <label for="PartySceneGrade">Party Scene Grade:</label>
        <input type="number" id="PartySceneGrade" name="PartySceneGrade" required><br>

        <label for="ProfessorsGrade">Professors Grade:</label>
        <input type="number" id="ProfessorsGrade" name="ProfessorsGrade" required><br>

        <label for="SafetyGrade">Safety Grade:</label>
        <input type="number" id="SafetyGrade" name="SafetyGrade" required><br>

        <label for="StudentLifeGrade">Student Life Grade:</label>
        <input type="number" id="StudentLifeGrade" name="StudentLifeGrade" required><br>

        <label for="ValueGrade">Value Grade:</label>
        <input type="number" id="ValueGrade" name="ValueGrade" required><br>

        <label for="InStateTuition">In-State Tuition:</label>
        <input type="number" id="InStateTuition" name="InStateTuition" required><br>

        <label for="OutOfStateTuition">Out-Of-State Tuition:</label>
        <input type="number" id="OutOfStateTuition" name="OutOfStateTuition" required><br>

        <input type="submit" value="Create University">
        <div class="link-back">
            <a href="/dashboard">Back to Dashboard</a>
        </div>
    </form>
</body>
</html>