<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete University</title>
</head>
<body>
    <h2>Delete University</h2>
    <form action="/delete" method="POST">
        <label for="UniversityName">University Name:</label>
        <input type="text" id="UniversityName" name="UniversityName" required>
        <br><br>
        <input type="submit" value="Delete University">
        <div class="link-back">
            <a href="/dashboard">Back to Dashboard</a>
        </div>
    </form>

</body>
</html>
