<!DOCTYPE html>
<html lang="en">
</head>
<body>
    <h1>Create University</h1>
    <form action="/create_university" method="post">
        <div class="form-row">
            <label for="UniversityName">University Name:</label>
            <input type="text" id="UniversityName" name="UniversityName" required>
        </div>
        <div class="form-row">
            <label for="AcceptanceRate">Acceptance Rate:</label>
            <input type="number" id="AcceptanceRate" name="AcceptanceRate" required>
        </div>
        <div class="form-row">
            <label for="AverageSAT">Average SAT:</label>
            <input type="number" id="AverageSAT" name="AverageSAT" required>
        </div>
        <div class="form-row">
            <label for="QSWorldRankings">QS World Rankings:</label>
            <input type="number" id="QSWorldRankings" name="QSWorldRankings" required>
        </div>
        <div class="form-row">
            <label for="USNewsRanking2023">US News Ranking 2023:</label>
            <input type="number" id="USNewsRanking2023" name="USNewsRanking2023" required>
        </div>
        <div class="form-row">
            <label for="QSWorldRanking2022">QS World Ranking 2022:</label>
            <input type="number" id="QSWorldRanking2022" name="QSWorldRanking2022" required>
        </div>
        <div class="form-row">
            <label for="UndergraduatePopulation">Undergraduate Population:</label>
            <input type="number" id="UndergraduatePopulation" name="UndergraduatePopulation" required>
        </div>
        <div class="form-row">
            <label for="AcademicGrade">Academic Grade:</label>
            <input type="text" id="AcademicGrade" name="AcademicGrade" required>
        </div>
        <div class="form-row">
            <label for="AthleticGrade">Athletic Grade:</label>
            <input type="text" id="AthleticGrade" name="AthleticGrade" required>
        </div>
        <div class="form-row">
            <label for="CampusGrade">Campus Grade:</label>
            <input type="text" id="CampusGrade" name="CampusGrade" required>
        </div>
        <div class .form-row>
            <label for="CampusFoodGrade">Campus Food Grade:</label>
            <input type="text" id="CampusFoodGrade" name="CampusFoodGrade" required>
        </div>
        <div class="form-row">
            <label for="DiversityGrade">Diversity Grade:</label>
            <input type="text" id="DiversityGrade" name="DiversityGrade" required>
        </div>
        <div class="form-row">
            <label for="DormsGrade">Dorms Grade:</label>
            <input type="text" id="DormsGrade" name="DormsGrade" required>
        </div>
        <div class="form-row">
            <label for="LocationGrade">Location Grade:</label>
            <input type="text" id="LocationGrade" name="LocationGrade" required>
        </div>
        <div class="form-row">
            <label for="OverallGrade">Overall Grade:</label>
            <input type="text" id="OverallGrade" name="OverallGrade" required>
        </div>
        <div class="form-row">
            <label for="PartySceneGrade">Party Scene Grade:</label>
            <input type="text" id="PartySceneGrade" name="PartySceneGrade" required>
        </div>
        <div class="form-row">
            <label for="ProfessorsGrade">Professors Grade:</label>
            <input type="text" id="ProfessorsGrade" name="ProfessorsGrade" required>
        </div>
        <div class="form-row">
            <label for="SafetyGrade">Safety Grade:</label>
            <input type="text" id="SafetyGrade" name="SafetyGrade" required>
        </div>
        <div class="form-row">
            <label for="StudentLifeGrade">Student Life Grade:</label>
            <input type="text" id="StudentLifeGrade" name="StudentLifeGrade" required>
        </div>
        <div class="form-row">
            <label for="ValueGrade">Value Grade:</label>
            <input type="text" id="ValueGrade" name="ValueGrade" required>
        </div>
        <div class="form-row">
            <label for="InStateTuition">In-State Tuition:</label>
            <input type="number" step="0.01" id="InStateTuition" name="InStateTuition" required>
        </div>
        <div class="form-row">
            <label for="OutOfStateTuition">Out-of-State Tuition:</label>
            <input type="number" step="0.01" id="OutOfStateTuition" name="OutOfStateTuition" required>
        </div>
        <button type="submit">Create</button>
    </form>
</body>
</html>
