<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create University</title>
</head>
<body>
    <h1>Create University</h1>
    <form action="{{ url_for('routes.create') }}" method="post">
        <label for="university_name">University Name:</label>
        <input type="text" id="university_name" name="university_name"><br>

        <label for="acceptance_rate">Acceptance Rate:</label>
        <input type="text" id="acceptance_rate" name="acceptance_rate"><br>

        <label for="average_sat">Average SAT:</label>
        <input type="text" id="average_sat" name="average_sat"><br>

        <label for="qs_world_rankings">QS World Rankings:</label>
        <input type="text" id="qs_world_rankings" name="qs_world_rankings"><br>

        <label for="us_news_ranking_2023">US News Ranking 2023:</label>
        <input type="text" id="us_news_ranking_2023" name="us_news_ranking_2023"><br>

        <label for="qs_world_ranking_2022">QS World Ranking 2022:</label>
        <input type="text" id="qs_world_ranking_2022" name="qs_world_ranking_2022"><br>

        <label for="undergraduate_population">Undergraduate Population:</label>
        <input type="text" id="undergraduate_population" name="undergraduate_population"><br>

        <label for="academic_grade">Academic Grade:</label>
        <input type="text" id="academic_grade" name="academic_grade"><br>

        <label for="athletic_grade">Athletic Grade:</label>
        <input type="text" id="athletic_grade" name="athletic_grade"><br>

        <label for="campus_grade">Campus Grade:</label>
        <input type="text" id="campus_grade" name="campus_grade"><br>

        <label for="campus_food_grade">Campus Food Grade:</label>
        <input type="text" id="campus_food_grade" name="campus_food_grade"><br>

        <label for="diversity_grade">Diversity Grade:</label>
        <input type="text" id="diversity_grade" name="diversity_grade"><br>

        <label for="dorms_grade">Dorms Grade:</label>
        <input type="text" id="dorms_grade" name="dorms_grade"><br>

        <label for="location_grade">Location Grade:</label>
        <input type="text" id="location_grade" name="location_grade"><br>

        <label for="overall_grade">Overall Grade:</label>
        <input type="text" id="overall_grade" name="overall_grade"><br>

        <label for="party_scene_grade">Party Scene Grade:</label>
        <input type="text" id="party_scene_grade" name="party_scene_grade"><br>

        <label for="professors_grade">Professors Grade:</label>
        <input type="text" id="professors_grade" name="professors_grade"><br>

        <label for="safety_grade">Safety Grade:</label>
        <input type="text" id="safety_grade" name="safety_grade"><br>

        <label for="student_life_grade">Student Life Grade:</label>
        <input type="text" id="student_life_grade" name="student_life_grade"><br>

        <label for="value_grade">Value Grade:</label>
        <input type="text" id="value_grade" name="value_grade"><br>

        <label for="in_state_tuition">In-State Tuition:</label>
        <input type="text" id="in_state_tuition" name="in_state_tuition"><br>

        <label for="out_of_state_tuition">Out-of-State Tuition:</label>
        <input type="text" id="out_of_state_tuition" name="out_of_state_tuition"><br>

        <button type="submit">Create</button>
    </form>
</body>
</html>
