<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search Universities</title>
</head>
<body>
    <h1>Search Universities</h1>
    <form action="{{ url_for('routes.search') }}" method="post">
        <label for="university">Select University:</label>
        <select id="university" name="university">
            {% for college in colleges %}
                <option value="{{ college.UniversityName }}">{{ college.UniversityName }}</option>
            {% endfor %}
        </select>
        <button type="submit">Search</button>
    </form>

    {% if selected_college %}
        <h2>Details for {{ selected_college.UniversityName }}</h2>
        <p>Acceptance Rate: {{ selected_college.AcceptanceRate }}%</p>
        <p>Average SAT: {{ selected_college.AverageSAT }}</p>
        <p>QS World Rankings: {{ selected_college.QSWorldRankings }}</p>
        <p>US News Ranking 2023: {{ selected_college.USNewsRanking2023 }}</p>
        <p>QS World Ranking 2022: {{ selected_college.QSWorldRanking2022 }}</p>
        <p>Undergraduate Population: {{ selected_college.UndergraduatePopulation }}</p>
        <p>Academic Grade: {{ selected_college.AcademicGrade }}</p>
        <p>Athletic Grade: {{ selected_college.AthleticGrade }}</p>
        <p>Campus Grade: {{ selected_college.CampusGrade }}</p>
        <p>Campus Food Grade: {{ selected_college.CampusFoodGrade }}</p>
        <p>Diversity Grade: {{ selected_college.DiversityGrade }}</p>
        <p>Dorms Grade: {{ selected_college.DormsGrade }}</p>
        <p>Location Grade: {{ selected_college.LocationGrade }}</p>
        <p>Overall Grade: {{ selected_college.OverallGrade }}</p>
        <p>Party Scene Grade: {{ selected_college.PartySceneGrade }}</p>
        <p>Professors Grade: {{ selected_college.ProfessorsGrade }}</p>
        <p>Safety Grade: {{ selected_college.SafetyGrade }}</p>
        <p>Student Life Grade: {{ selected_college.StudentLifeGrade }}</p>
        <p>Value Grade: {{ selected_college.ValueGrade }}</p>
        <p>In-State Tuition: ${{ selected_college.InStateTuition }}</p>
        <p>Out-of-State Tuition: ${{ selected_college.OutOfStateTuition }}</p>
    {% endif %}
</body>
</html>
